<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Mastery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- JQuery -->
        <script src="{{ url_for('static',filename='node_modules/jquery/dist/jquery.min.js') }}"></script>

        <!-- Semantic UI -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='semantic/dist/semantic.min.css') }}">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="{{ url_for('static',filename='semantic/dist/semantic.min.js') }}"></script>

        <!-- Our CSS File -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
        
        <!-- Our Javascript File -->
        <script src="{{ url_for('static',filename='src/index.js') }}"></script>
        
        
    </head>
    <body class="pushable">

        <!-- Following Menu -->
        <div class="ui large top fixed menu transition hidden">
            <div class="ui container">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <div class="right menu">
                <div class="item">
                <a class="ui button">Log in</a>
                </div>
                <div class="item">
                <a class="ui primary button">Sign Up</a>
                </div>
            </div>
            </div>
        </div>
        
        <!-- Sidebar Menu -->
        <div class="ui vertical inverted sidebar menu left">
            <a class="active item">Home</a>
            <a class="item">Work</a>
            <a class="item">Company</a>
            <a class="item">Careers</a>
            <a class="item">Login</a>
            <a class="item">Signup</a>
        </div>
        
        
        <!-- Page Contents -->
        <div class="pusher">
            <div class="ui inverted vertical masthead center aligned segment">
        
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">
                <a class="toc item">
                    <i class="sidebar icon"></i>
                </a>
                <!-- <a class="active item">Home</a>
                <a class="item">Work</a>
                <a class="item">Company</a>
                <a class="item">Careers</a> -->
                <div class="right item">
                    <a class="ui inverted button" id="login-btn">Log in</a>
                    <a class="ui inverted button" id="register-btn">Sign Up</a>
                    <a class="ui inverted button hidden" id="logout-btn">Logout</a>
                    
                </div>
                </div>
            </div>
        
            <div class="ui text container">
                <h1 class="ui inverted header">
                Mastery
                </h1>
                <h2>Find your Airbnb</h2>
                <!-- <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div> -->
            </div>
        
            </div>
        
            <div class="ui modal" id="login">
                <i class="close icon"></i>
                <div class="header">
                    Login
                </div>
                <div class="content">
                    <form class="ui form" id="login-form">
                        <div class="field">
                            <label>Username</label>
                            <input id="uname-login" type="text" name="name" placeholder="Username">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input id="pass-login" type="password" name="password" placeholder="Password">
                        </div>
                        <button class="ui button submit" type="submit">Submit</button>
                        <div class="ui error message"></div>
                        <div class="ui red message hidden" id="fail-login">
                                
                                <div class="header">
                                    Your user login was unsuccessful.
                                </div>
                                <p>Please retry</p>
                            </div>
                        <div class="ui green message hidden" id="success-login">
                            
                            <div class="header">
                                Your user login was successful.
                            </div>
                            <p>You are now logged-in.</p>
                        </div>
                        
                    </form>
                </div>
            </div>

            <div class="ui modal" id="register">
                <i class="close icon"></i>
                <div class="header">
                    Register
                </div>
                <div class="content">
                    <form class="ui form" id="register-form">
                        <div class="field">
                            <label>Username</label>
                            <input type="text" name="name" placeholder="Username">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="Password">
                        </div>
                        <button class="ui button submit" type="submit">Submit</button>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>

            <div class="ui vertical stripe segment hidden" id="search">
                <div class="ui text container">
                    <div class="ui dividing header">
                        Search for Accomodation
                    </div>
                    <form class="ui form" id="search-form" action="{{ url_for('search_for') }}" method="post">
                        {{ form.csrf_token }}
                        <div class="field">
                            <label>Location</label>
                            <div class="field">
                                <input type="text" name="location" placeholder="Location">
                            </div>
                        </div>
                        <div class="field">
                            <label>Area</label>
                            <div class="field">
                                <input type="text" name="area" placeholder="Area">
                            </div>
                        </div>
                        <div class="field">

                            <label>Type of Room</label>
                            <select class="ui dropdown" name="type_room">
                                <option value="">Select</option>
                                <option value="1">Private room</option>
                                <option value="2">Entire home/apt</option>
                                <option value="3">Shared room</option>
                            </select>
                        </div>
                        <div class="two fields">
                            <div class="field">
                                <label>Start</label>
                                <div class="field">
                                    <input type="date" name="start_date" placeholder="Area">
                                </div>
                            </div>
                            <div class="field">
                                <label>End</label>
                                <div class="field">
                                    <input type="date" name="end_date" placeholder="Area">
                                </div>
                            </div>
                        </div>
                        <div class="field">
                            <label>Guest</label>
                            <div class="field">
                                <input type="text" name="guest" placeholder="Number of Guest">
                            </div>
                        </div>
                        <div class="two fields">
                            <label>Price Range</label>
                            <div class="field">
                                <div class="field">
                                    <input type="text" name="price_1" placeholder="From">
                                </div>
                            </div>
                            <div class="field">
                                <div class="field">
                                    <input type="text" name="price_2" placeholder="To">
                                </div>
                            </div>
                        </div>
                        <button class="ui primary button" type="submit">Submit</button>
                        <div class="ui error message"></div>
                    </form>
                </div>
            </div>
        
            <div class="pusher" id="result">
                    <div class="ui inverted vertical masthead center aligned segment">
                
                        <div class="ui text container">
                            <h2 class="ui inverted header" id="result-header">
                            You Searched For
                            </h2>
                            <br/>
<!--                             
                            <div class="ui three column grid">
                                <div class="column">
                                    <div class="ui segment">
                                    <img class="ui wireframe image" src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui segment">
                                    <img class="ui wireframe image" src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                </div>
                                <div class="column">
                                    <div class="ui segment">
                                    <img class="ui wireframe image" src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                </div>
                            </div> -->
                        </div>
                        <div class="ui container">
                            <div class="ui link three cards">
                                <div class="card">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                    <div class="content">
                                    <div class="header">Matt Giampietro</div>
                                    <div class="meta">
                                        <a>Friends</a>
                                    </div>
                                    <div class="description">
                                        Matthew is an interior designer living in New York.
                                    </div>
                                    </div>
                                    <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2013
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                        75 Friends
                                    </span>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                    <div class="content">
                                    <div class="header">Molly</div>
                                    <div class="meta">
                                        <span class="date">Coworker</span>
                                    </div>
                                    <div class="description">
                                        Molly is a personal assistant living in Paris.
                                    </div>
                                    </div>
                                    <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2011
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                        35 Friends
                                    </span>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                    <div class="content">
                                    <div class="header">Elyse</div>
                                    <div class="meta">
                                        <a>Coworker</a>
                                    </div>
                                    <div class="description">
                                        Elyse is a copywriter working in New York.
                                    </div>
                                    </div>
                                    <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                        151 Friends
                                    </span>
                                    </div>
                                </div>
                            </div>

                            <div class="ui link three cards">
                                <div class="card">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                    <div class="content">
                                    <div class="header">Matt Giampietro</div>
                                    <div class="meta">
                                        <a>Friends</a>
                                    </div>
                                    <div class="description">
                                        Matthew is an interior designer living in New York.
                                    </div>
                                    </div>
                                    <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2013
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                        75 Friends
                                    </span>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                    <div class="content">
                                    <div class="header">Molly</div>
                                    <div class="meta">
                                        <span class="date">Coworker</span>
                                    </div>
                                    <div class="description">
                                        Molly is a personal assistant living in Paris.
                                    </div>
                                    </div>
                                    <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2011
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                        35 Friends
                                    </span>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="image">
                                    <img src="{{ url_for('static', filename='assets/img/image.png') }}">
                                    </div>
                                    <div class="content">
                                    <div class="header">Elyse</div>
                                    <div class="meta">
                                        <a>Coworker</a>
                                    </div>
                                    <div class="description">
                                        Elyse is a copywriter working in New York.
                                    </div>
                                    </div>
                                    <div class="extra content">
                                    <span class="right floated">
                                        Joined in 2014
                                    </span>
                                    <span>
                                        <i class="user icon"></i>
                                        151 Friends
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
        </div>
        <script type="text/javascript">
            
        </script>
    </body>
    <style>
        #result-header {
            margin-top: 1.5em;
        }
        .hidden.menu {
            display: none;
            }
        
            .masthead.segment {
            min-height: 100vh;
            padding: 1em 0em;
            }
            .masthead .logo.item img {
            margin-right: 1em;
            }
            .masthead .ui.menu .ui.button {
            margin-left: 0.5em;
            }
            .masthead h1.ui.header {
            margin-top: 3em;
            margin-bottom: 0em;
            font-size: 4em;
            font-weight: normal;
            }
            
            .masthead h2 {
            font-size: 1.7em;
            font-weight: normal;
            }
        
            .ui.vertical.stripe {
            padding: 8em 0em;
            }
            .ui.vertical.stripe h3 {
            font-size: 2em;
            }
            .ui.vertical.stripe .button + h3,
            .ui.vertical.stripe p + h3 {
            margin-top: 3em;
            }
            .ui.vertical.stripe .floated.image {
            clear: both;
            }
            .ui.vertical.stripe p {
            font-size: 1.33em;
            }
            .ui.vertical.stripe .horizontal.divider {
            margin: 3em 0em;
            }
        
            .quote.stripe.segment {
            padding: 0em;
            }
            .quote.stripe.segment .grid .column {
            padding-top: 5em;
            padding-bottom: 5em;
            }
        
            .footer.segment {
            padding: 5em 0em;
            }
        
            .secondary.pointing.menu .toc.item {
            display: none;
            }
        
            @media only screen and (max-width: 700px) {
            .ui.fixed.menu {
                display: none !important;
            }
            .secondary.pointing.menu .item,
            .secondary.pointing.menu .menu {
                display: none;
            }
            .secondary.pointing.menu .toc.item {
                display: block;
            }
            .masthead.segment {
                min-height: 350px;
            }
            .masthead h1.ui.header {
                font-size: 2em;
                margin-top: 1.5em;
            }
            .masthead h2 {
                margin-top: 0.5em;
                font-size: 1.5em;
            }
        } 
    </style>
</html>