<form action="{{ url_for('search_for') }}" method="post">
	{{ form.csrf_token }}
	<p>
		{{ form.location.label }}<br>
		{{ form.location(size=32) }}
		{% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>

	<p>
		{{ form.area.label }}<br>
		{{ form.area(size=32) }}
		{% for error in form.area.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>

	<p>
		{{ form.type_room.label}}
		{{ form.type_room }}<br>
		{% for error in form.type_room.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>

	<p>
		{{ form.start_date.label }}<br>
		{{ form.start_date(size=32) }}
		{% for error in form.start_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>

	<p>
		{{ form.end_date.label }}<br>
		{{ form.end_date(size=32) }}
		{% for error in form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>	

	<p>
		{{ form.guest.label }}<br>
		{{ form.guest(size=32) }}
		{% for error in form.guest.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>	

	<p>
		{{ form.price_1.label }}<br>
		{{ form.price_1(size=32) }}
		{% for error in form.price_1.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>	

	<p>
		{{ form.price_2.label }}<br>
		{{ form.price_2(size=32) }}
		 {% for error in form.price_2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
	</p>	

	<p> {{ form.submit() }}</p>
	{% for error in form.submit.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

</form>